.cartPage-container {
    display: flex;
    margin: 120px;
    flex-direction: column;
    align-items: center;
}

.cartPage-card-image {
    height: 100px;
    margin: 10px;
    border-radius: 20px;
}

.cart-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 50px;
    border: 1px solid #cfb2ea;
    border-radius: 10px;
}

#emptyCartContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-top: 1px solid #eeabdf;
    border-bottom: 1px solid #cfb2ea;
}