*{
    box-sizing: border-box;
}

.container{
    display: flex;
    margin: 120px auto;
    height: 450px;
    width:  450px;
    border: 2px solid red;
}

.form-container{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.form-container > h2{
    text-align: center;
}

 button{
   align-self: center;
}

.form-container  a{
    text-decoration: none;

}
