.footer-container {
    width: 100%;
    display: flex;
    padding: 5px;
    background: linear-gradient(0deg, rgba(117, 131, 237, 1) 14%, rgba(255, 255, 255, 1) 100%);    box-sizing: border-box;
    position: fixed;
    bottom: 0;
}

.logo-wraper{
    height: 20px;
    display: flex;
}