.productListPage-container {
    display: flex;
    margin: 120px 50px;
    flex-direction: column;
}

.productList-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0 50px;

}

.product-menu{
    display: flex;
}