.productListPage-container {
    display: flex;
    margin: 120px auto;
    width: 75vw;
    flex-direction: column;
}

.productList-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0 50px;

}